 <header>

        <div class="logo">
            <h1>HOCKEY<span>HUB</span></h1>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="/ProjectH/">Home</a>
                </li>

                <li>
                    <a href="/ProjectH/players/">Players</a>
                </li>
                
                <li>
                    <a href="/ProjectH/players/">Players</a>
                </li>
             
                <li>
                    <a href="/ProjectH/stats/">Stats</a>
                </li>

                <li>
                    <a href="/ProjectH/legacy/">Legacy Stats</a>
                </li>
            </ul>
        </nav>

    </header>
